<div class="p-5 bg-light">
        <h1 class="display-3"><%= @user.first_name %> <%= @user.last_name %></h1>
        <p class="lead"><%= @user.description %> </p>
        <hr class="my-2">
        <p><%= @user.email %></p>
        <p class="lead">
        <%= link_to "Éditer", edit_user_path, class:"btn btn-info"%>
        </p>
</div>

<ul class="list-group">
    <li class="list-group-item list-group-item-info">Liste des évènements de <%= @user.first_name %> :</li>
      <% if @user.admin_events.length > 0 %>
        <%  @user.admin_events.each do |event| %>
          <li class="list-group-item"><%= link_to "#{event.title}", event_path(event.id) %> </li>
        <% end %>     
      <% else %>
        <li class="list-group-item disabled">Aucun évènement</li>      
      <% end %>   
</ul>