<main role="main">


      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3 logo">EventBrighter</h1>
          <hr class="my-2">
          <p>Crée un évènement, inscris-toi, vis ta vie !</p>
          <%= link_to "Crée ton évènement", new_event_path, class: "btn btn-info btn-lg" %>
        </div>
      </div>

      <div class="container"></div>
        <!-- Example row of columns -->
        <div class="row">
          <% @events.each do |event| %>
            <div class="col-md-4">
              <h2><%= event.title %></h2>
              <h3><%= event.display_date(event.start_date) %></h3>
              <p>durée: <%= event.duration %> minutes</p>
              <p>Prix: <%= event.price %>€</p>
              <%= link_to "Voir détails >>", event_path(event.id), class: 'btn btn-outline-info btn-lg' %>
            </div>
          <% end %>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
