<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"><%= @event.title %></h1>
    <p>Organisateur: <%= @event.admin.email %></p>
    <p>Description: <%= @event.description%></p>
    <p>nombre de participants: <%= @event.customers.length%></p>
    <p>Date début: <%= @event.display_date(@event.start_date)%></p>
    <p>Date de fin: <%= @event.display_date(@event.end_date) %></p>
    <p>Lieux: <%= @event.location %></p>
    <p>Prix: <%= @event.price %>€</P>
  </div>
  <% if is_admin? == false && is_customer? == false %>
  <%=link_to "Rejoindre l'évènement", new_event_attendance_path(params[:id]) %>
  <!-- <%= link_to "Valider", event_attendances_path(params[:id]), method: :post %> -->
  <% end %>
  <% if is_admin? == true %>
    <%= form_tag event_event_pictures_path(@event), multipart: true do %>
    <%= file_field_tag :event_picture %>
    <%= submit_tag "mettre à jour" %>
    <% end %>
  <%end%>
  <h3>Avatar actuel</h3>
<%if @event.event_picture.attached?%>
  <%= image_tag @event.event_picture, alt: 'avatar' %>
<%else%>
  <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur batard ===</p>
<%end%>
</div>